Repository awslabs/soci-snapshotter, pull requests merged in 2024-06, with the labels that each got.

#1244 Enforce lease when building SOCI index
  cmd/soci/commands/create.go
  integration/create_test.go
  soci/soci_index.go
  soci/soci_index_test.go
  soci/store/store.go
  soci/util_test.go
Labels: API Change

#1268 Update Go version to 1.21.11 in CI
  .github/workflows/benchmark_visualization.yml
  .github/workflows/build.yml
  .github/workflows/bump-deps.yml
  .github/workflows/comparision-test.yml
  .github/workflows/prebuild.yml
  .github/workflows/releases.yml
  Dockerfile
Labels: github_actions

#1206 Update SOCI rebuild DB CLI help text and doc
  cmd/soci/commands/rebuild_db.go
  docs/cli-usage.md
Labels: easy-to-review

#1253 Add workflow to label pull requests
  .github/new-pull-request-labels.yml
  .github/workflows/new-pull-requests.yml
Labels: github_actions

#1257 Fix bug in update getting started guide workflow
  .github/workflows/update-getting-started-guide.yml
  scripts/update-getting-started-guide-version.sh
Labels: github_actions, easy-to-review

#1274 Update README.md to make evaluation easier for newcomers
  README.md
Labels: documentation

#1279 Fix daemon startup latency issue by providing an option to skip snaps…
  cmd/soci-snapshotter-grpc/main.go
  config/config.go
  config/config.toml
  docs/config.md
Labels: go

#1283 Bump version of containerd to 1.7.18 for latest and 1.6.33 for LTS
  .github/workflows/build.yml
  Dockerfile
Labels: github_actions
