Repository awslabs/soci-snapshotter, pull requests merged in 2025-06, with the labels that each got.

#1585 Upgrade to github.com/pelletier/go-toml/v2
  cmd/go.mod
  cmd/go.sum
  cmd/soci-snapshotter-grpc/main.go
  config/config.go
  config/config_test.go
  config/defaults.go
  config/fs.go
  go.mod
  go.sum
  integration/util_test.go
Labels: dependencies, go, testing

#1598 Add debug documentation for pull mode
  .github/ISSUE_TEMPLATE/bug_report.yaml
  docs/debug.md
  fs/fs.go
Labels: go, github_actions

#1609 Update go in CI to 1.24.4
  .github/workflows/build.yml
  .github/workflows/bump-deps.yml
  .github/workflows/comparision-test.yml
  .github/workflows/prebuild.yml
  .github/workflows/releases.yml
Labels: github_actions

#1612 Upgrade benchmark scripts to 1.24.4
  .github/workflows/benchmark-visualization.yml
Labels: github_actions
